# macOS
.DS_Store

# binaries
kernel.elf

# imgs
kernel.img
init.img

# folders created during make
build/

# object files
**/*.o

# static libs
**/*.a

# IDE config
.vscode/
.cache/

compile_commands.json